backports.shutil-get-terminal-size==1.0.0
boto==2.49.0
boto3==1.9.110
botocore==1.12.110
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
Corpus==0.4.2
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.2
dill==0.2.9
docutils==0.14
en-core-web-md==2.0.0
en-core-web-sm==2.0.0
enum34==1.1.6
et-xmlfile==1.0.1
futures==3.2.0
gensim==3.7.1
idna==2.8
ipython==5.8.0
ipython-genutils==0.2.0
jdcal==1.4
jmespath==0.9.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nltk==3.4
numpy==1.16.2
openpyxl==2.6.1
pandas==0.24.1
pathlib==1.0.1
pathlib2==2.3.3
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prompt-toolkit==1.0.15
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.21.0
s3transfer==0.2.0
scandir==1.9.0
scipy==1.2.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
traitlets==4.3.2
ujson==1.35
urllib3==1.26.5
wcwidth==0.1.7
win-unicode-console==0.5
wrapt==1.10.11
xlrd==1.2.0
